#XfceNotifyWindow {
    color: #ffffff;
    background-color: #404040;
    border-radius: 10px;
    padding: 10px 0;
    border: 1px solid #404040;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}
